@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#grey-qo-regular-font{
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-size: 9rem;
    font-style: normal;
    line-height: 0;
}
  

body{
    margin: 0px;
}

/* Shared Style */
.all-text{
    color: white;
}

.display-flex{
    display: flex;
}

.main-section{
    margin: 100px 6px 0px 65px;
}

.text-color{
    color: #E6533C;
}

.secondary-text-color{
    color: rgba(255, 255, 255, 0.5);
}

.button-color{
    background-color: rgba(230, 83, 60, 1);
}

.bg-black{
    background-color: black;
    height: auto;
    padding: 100px 198px;
    padding-bottom: 0;
    margin-bottom: -20px;
}

.title-size{
    font-size: 3rem;
}

/* navbar section */
.bg-color{
    background: linear-gradient(358deg, #000000, #000000d4, #000);
}

.navbar{
    list-style: none;
    gap: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 3px;
    padding-right: 25px;
    justify-content: center;
    align-items: center;
}

.header{
    /* width: 100%; */
    height: 715px;
    padding: 40px 190px;
}

.nav-title{
    font-weight: 800;
    font-size: 2.25rem;
    margin: 15px 0 10px 0;
}

.home{
    background-color: #E6533C;
    border: 2px solid #E6533C;
    border-radius: 46px;
    padding: 8px 20px;
}

/* Banner style */
.banner{
    justify-content: space-between;
}

.banner-title{
    font-weight: 800;
    font-size: 4.75rem;
}

.button-primary{
    margin-top: 30px;
}

.button-1{
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    border: 1px solid #e6533c;
    border-radius: 46px;
    padding: 15px 45px;
}

.button-2{
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 46px;
    margin-left: 15px;
    padding: 15px 45px;
}

.box-1{
    padding: 0 25px;
    background-color: rgba(48, 48, 48, 0.54);
    width: 35%;
    border-radius: 12px;
    border: 0.5px solid rgba(48, 48, 48, 0.54);
    display: flex;
    margin-left: -100px;
    margin-top: -160px;
    position: relative;
}

.box-text p{
    font-size: 0.9rem;
}

.ball{
    padding: 25px 0;
    padding-right: 15px;
}

.play{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e6533c;
}

.box-title{
    font-size: 2rem;
    margin: 30px 0px auto;
    line-height: 8px;
}

.box-2{
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.1);
    width: 40%;
    border-radius: 12px;
    border: 0.5 solid #77777794;
    display: flex;
    margin-left: 230px;
    margin-top: -90%;
    position: relative;
}

.box-title2{
    font-size: 2.5rem;
    margin: 30px 0 30px;
    line-height: 15px;
}

/* Habit section */
.habit-text{
    text-align: center;
    line-height: 25px;
}

.workout-cover{
    justify-content: space-evenly;
}

.workout-container{
    text-align: center;
    padding-top: 58px;
}

.workout-image{
    border-radius: 50%;
    border: 3px solid #77777794;
}

.workout-text{
    font-weight: 600;
    font-size: 1.2rem;
}

/* Run section */
.main-container{
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    padding: 30px;
    border-radius: 18px;
}
.extra-container{
    padding-left: 20px;
}

.extra-title{
    font-weight: 900;
    font-size: 3rem;
    margin: 12px 0 0 0;
}

.button-3{
    padding: 16px 75px;
    margin-top: 20px;
    font-size: 1.075rem;
}

.image-3{
    height: 300px;
    border-radius: 18px;
}

/* BMI Section */
.BMI-text-container{
    padding: 0 24%;
    padding-bottom: 100px;
}

.BMI-title{
    margin: 0;
    font-weight: bold;
}